.popup-container {
    border : 1px  solid red;
    height: 100%;

    display:flex;
    flex-direction: column;
}

.values-scrollbar {
    border : 1px  solid yellow;
    height: 100%;
    overflow-y: scroll;
}

.inner-list-values {
    margin: 0 auto;
    padding: 0;

    border: 1px solid green;
}



#style-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-list::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#style-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}