
.inner-container {
    display: flex;
    align-items: center;
	justify-content: center;
	
	height: 30px;
}

.inner {

	display: flex;
    align-items: center;
    justify-content: center;

	box-sizing: border-box;

	transition: all ease-in-out 0.8s;
	-moz-transition: all ease-in-out 0.8s;
	-webkit-transition: all ease-in-out 0.8s;

/*	border: 1px solid #ff9900;*/
/*	display: inline-block; */
	/*border-bottom: 0px;	*/
	margin: 0px;	
    /*color: #fff;*/
	cursor: pointer;
	border-right: 0px;
}

.inner:last-child {
	border-right: 1px solid #ff9900;	
}

.tabs-content {
	overflow: hidden;
	position: relative;
/*	border-top: 1px solid #ff9900;*/

  /*  height: auto;*/
/*	height: 100%;*/
}


.tabcontent {

	box-sizing: border-box;
	/*
	transition: all ease-in-out 0.8s;
	-moz-transition: all ease-in-out 0.8s;
	-webkit-transition: all ease-in-out 0.8s;
*/

	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	width: 100%;
/*	height: 100%;*/
/*	border-top: 0px;*/
/*	border: 2px solid #ff9900;*/
	/*border-top: 0px;*/
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

.tabcontent:first-child {
	position: relative;	
}

.tabcontent.tab-active {
/*	border-top: 0px;*/

/*height:50%;*/

/*	display: block;*/
	transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}



.mytabs-container {
  /*max-width: 700px;*/

  width: 100%;
/*  height:50%;*/

 /* border: 1px solid red;*/


  /*margin: 40px;*/
  /*margin-left: auto;
  margin-right: auto;*/
}

.tabcontent {
	display: block;

	/*padding: 0px;*/
}
.icetab {
	/*padding: 2px;*/
	text-transform: uppercase;
	letter-spacing: 2px;
}
.current-tab { 
	background: #ff9900;
}